
<div class="post-container">
  <% @ideas.each do |idea| %>
    <div class="post">
      <h2><%= link_to idea.title, idea_path(idea) %></h2>
      <p><%= idea.description %></p>
      <p>  Likes:<%= idea.likes.count %></p>
      <p>By:<%=idea.user&.full_name %>  </p>
 
    </div>
  <% end %>
</div>
